.option-description-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: lightgrey;
}

.option-description-header {
  font-family: "Sysfont";
  font-size: 40pt;
}

.option-description-image {
  height: 256px;
  width: 256px;
  image-rendering: pixelated;
}

.option-description-description {
  font-size: 14pt;
  width: 80%;
  font-family: "Sysfont";
}
