.release-home-ad-reviews {
  display: flex;
  flex-direction: row;
  height: 28%;
  width: 100%;
  justify-content: baseline;
  align-items: flex-start;
  background-color: rgb(238, 238, 238);
}

.release-home-earnings {
  font-family: "Sysfont";
  font-size: 24pt;
  margin-top: 40px;
  margin-left: 20px;
}

.release-home-earnings-number {
  font-family: "Sysfont";
  font-size: 24pt;
  color: green;
}
