.reviews-modal-container {
  background-color: lightgrey;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.reviews-modal-header {
  font-family: "Sysfont";
  background-color: lightgrey;
}

.reviews-modal-review-container {
  height: 80%;
  width: 100%;
  background-color: white;
  border: 2px solid grey;
  border-radius: 1%;
  font-family: "Sysfont";
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.reviews-modal-review-container div {
  margin-left: 10px;
}

.reviews-modal-review-outer-container {
  height: 80%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.reviews-modal-average-score {
  font-size: 20pt;
}

.reviews-modal-button-container {
  margin-top: 15px;
}
