.film-notification-box-container {
  width: 100%;
  background-color: rgb(230, 230, 230);
  border-top: 1px solid black;
  height: 70%;
  display: flex;
  justify-content: center;
}

.film-notification-box-container-shrink {
  width: 100%;
  background-color: rgb(230, 230, 230);
  border-top: 1px solid black;
  height: 58%;
  display: flex;
  justify-content: center;
}

.film-notification-notification-box {
  margin-top: 20px;
  background-color: white;
  width: 96%;
  height: 90%;
  border: 1px solid black;
  overflow: auto;
}

.film-notification-items {
  font-family: "Sysfont";
  font-size: 16px;
  margin-top: 20px;
  margin-left: 20px;
}

@media screen and (max-width: 1900px) {
  .film-notification-box-container {
    width: 100%;
    background-color: rgb(230, 230, 230);
    border-top: 1px solid black;
    height: 52.6%;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
  }

  .film-notification-box-container-shrink {
    width: 100%;
    background-color: rgb(230, 230, 230);
    border-top: 1px solid black;
    height: 37%;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
  }

  .film-notification-items {
    font-family: "Sysfont";
    font-size: 14px;
    margin-top: 20px;
    margin-left: 20px;
  }
}
