.start-page-container {
  height: 100%;
  background-color: rgb(250, 250, 250);
  overflow: auto;
}

.start-page-films-produced {
  font-family: "Sysfont";
  font-size: 13pt;
  margin-top: 10px;
}

.start-page-button-container {
  display: flex;
  flex-direction: row;
}

.start-page-content-container {
  margin-top: 1%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.start-page-history-container {
  height: 90%;
}

.start-page-history-box {
  height: 100%;
  background-color: white;
  margin-left: 10px;
  margin-right: 10px;
  border: 2px solid grey;
  overflow: auto;
}

.no-history-text {
  margin-left: 5px;
  margin-top: 5px;
}

.start-page-info-window {
  width: 60%;
  height: 100%;
  background-color: white;
  border: 1px solid grey;
  display: flex;
  align-items: center;
  margin-top: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.start-page-info-window-text {
  font-size: 12pt;
  margin-left: 10px;
}

.start-page-bottom-container {
  height: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.history-item {
  margin-left: 5px;
  margin-top: 5px;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

@media screen and (max-width: 1800px), screen and (max-height: 900px) {
  .start-page-content-container {
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .start-page-history-container {
    height: 95%;
  }

  .start-page-history-container {
    height: 80%;
  }
}
