.advertising-box-container {
  display: flex;
  flex-direction: column;
  background-color: rgb(238, 238, 238);
  justify-content: center;
  align-items: center;
}

.advertising-box-container-half {
  display: flex;
  flex-direction: column;
  background-color: rgb(238, 238, 238);
  justify-content: center;
  align-items: center;
  width: 50%;
}

.advertising-box-header {
  font-family: "Sysfont";
  background-color: rgb(238, 238, 238);
  padding-left: 2.5%;
  padding-top: 20px;
}

.advertising-box-details-container {
  font-family: "Sysfont";
  background-color: white;
  width: 95%;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  margin-top: 0px;
  margin-bottom: 20px;
  border: 1px solid grey;
}

@media screen and (max-width: 1900px) {
  .advertising-box-details-container {
    font-family: "Sysfont";
    padding-top: 0px;
    padding-left: 5px;
    padding-bottom: 0px;
    margin-bottom: 10px;
    border: 1px solid grey;
    font-size: 10pt;
  }

  .advertising-box-container {
    padding-bottom: 15px;
  }

  .advertising-box-container-half {
    margin-top: 15px;
    width: 40%;
    margin-left: 15px;
  }

  .advertising-box-header {
    font-family: "Sysfont";
    background-color: rgb(238, 238, 238);
    padding-left: 2.5%;
    padding-top: 15px;
  }
}
