@font-face {
  font-family: "Sysfont";
  src: url("./fonts/sysfont.woff2") format("woff2"),
    url("./fonts/sysfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ChicagoFLF";
  src: url("./fonts/ChicagoFLF.ttf") format("truetype");
}

@font-face {
  font-family: "Toronto";
  src: url("./fonts/Torrance.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
